/* taxonomy-index
----------------------------------------------- */
a.azrcrv-ti{
	display: block;
	width: 80%;
	margin: 3px auto;
	height: 2em;
	border: 1px solid #000;
	line-height: 2em;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	color: #000;
}